asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
config==0.5.1
Django==4.2.4
django-dotenv==1.4.2
django-jazzmin==2.6.0
idna==3.4
Pillow==10.0.0
pyTelegramBotAPI==4.13.0
requests==2.31.0
sqlparse==0.4.4
telebot==0.0.5
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
